.music-media {
  .music {
    text-align: center;
  }
  
  .music-video {
    padding: 0;
  }

  .nav {
    padding: 2.5em 0 0;

    + .block {
      padding: 0 0 5rem;
    }
  }

  .tune-links {
    width: auto;

    .box {
      display: inline-block;

      a,
      iframe {
        display: inline-block;
        vertical-align: middle;
      }

      iframe {
        margin: 0 .5em;

        &:hover {
          cursor: url('/images/diamondcursor_lg.png'), auto;
          opacity: .8;
        }
      }

      img {
        height: auto;
        margin: 0 .5em;
        width: 56px;
      }
    }
  }
  
  .video-wrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
  	
  	iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }

  @media screen and (max-width: $med) {
    .nav {
      padding: 1.5em 1em;

      + .block {
        padding: 5rem 0;
      }
    }
  }

  @media screen and (max-width: $sm) {
    .album-cover {
      display: block;
      margin: auto;
      max-width: 30em;
      width: 100%;
    }

    .tune-links {
      padding: 1em 0 0;
    }
  }
}