#shop {
    background: $base-light;
    
    .product-item {
        background: #efefef;
        text-align: center;
        transition: .2s background ease;
        padding: 20px;
        
        .product-img {
            height: 250px;
            
            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }
        
        .product-name {
            font-size: 2em;
            margin-top: 15px;
        }
        
        .product-price {
            margin-top: 3px;
        }
        
        .pp-buy-button {
            margin-top: 15px;
        }
        
        &:hover {
            
        }
    }
    
    .product-items {
        display: grid;
        grid-gap: 100px 50px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .sub-title {
        text-align: center;
    }
    
    @media screen and (max-width: $md) {
        .product-items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media screen and (max-width: $sm) {
        .product-items {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}