.story {
  text-align: center;

  .block {
    padding: 1rem 0;
  }

  .box {
    display: inline-block;
    max-width: 35em;
    vertical-align: middle;
    width: 100%;

    p {
      text-align: justify;
    }
  }

  .img-container {
    display: inline-block;
    max-width: 288px;
    vertical-align: middle;

    img {
      height: auto;
      margin: auto;
      max-height: 34em;
      max-width: 100%;
      width: auto;
    }
  }

  .nav {
    padding: 2.5em 0 0;

    + .block {
      padding: 0 0 3rem;
    }
  }

  @media screen and (max-width: $med) {
    .nav {
      padding: 1.5em 1em;

      + .block {
        padding: 5rem 0;
      }
    }
  }

  @media screen and (max-width: 835px) {
    .box,
    .img-container {
      display: block;
      margin: 0 auto 2em;
    }
  }
}