@keyframes gal-img-1 {
    0%   {left: -50em; top: 5em;}
    20%  {left: -15em; top: 6em;}
    40%  {left: 20em; top: 5em;}
    60%  {left: 55em; top: 6em;}
    80% {left: 90em; top: 5em;}
    100% {left: 125em; top: 6em;}
}

@keyframes gal-img-2 {
    0%   {left: -50em; top: 28em;}
    20%  {left: -15em; top: 29em;}
    40%  {left: 20em; top: 28em;}
    60%  {left: 55em; top: 29em;}
    80% {left: 90em; top: 28em;}
    100% {left: 125em; top: 29em;}
}

@keyframes gal-img-3 {
    0%   {left: -50em; top: 45em;}
    20%  {left: -15em; top: 46em;}
    40%  {left: 20em; top: 45em;}
    60%  {left: 55em; top: 46em;}
    80% {left: 90em; top: 45em;}
    100% {left: 125em; top: 46em;}
}

@keyframes gal-img-4 {
    0%   {left: -30em; top: 5em;}
    20%  {left: 0em; top: 6em;}
    40%  {left: 30em; top: 5em;}
    60%  {left: 60em; top: 6em;}
    80% {left: 90em; top: 5em;}
    100% {left: 120em; top: 6em;}
}

@keyframes gal-img-5 {
    0%   {left: -30em; top: 5em;}
    20%  {left: 0em; top: 6em;}
    40%  {left: 30em; top: 5em;}
    60%  {left: 60em; top: 6em;}
    80% {left: 90em; top: 5em;}
    100% {left: 120em; top: 6em;}
}

@keyframes gal-img-6 {
    0%   {left: -30em; top: 5em;}
    20%  {left: 0em; top: 6em;}
    40%  {left: 30em; top: 5em;}
    60%  {left: 60em; top: 6em;}
    80% {left: 90em; top: 5em;}
    100% {left: 120em; top: 6em;}
}

@keyframes gal-img-7 {
    0%   {left: -30em; top: 5em;}
    20%  {left: 0em; top: 6em;}
    40%  {left: 30em; top: 5em;}
    60%  {left: 60em; top: 6em;}
    80% {left: 90em; top: 5em;}
    100% {left: 120em; top: 6em;}
}

@keyframes gal-img-8 {
    0%   {left: -30em; top: 5em;}
    20%  {left: 0em; top: 6em;}
    40%  {left: 30em; top: 5em;}
    60%  {left: 60em; top: 6em;}
    80% {left: 90em; top: 5em;}
    100% {left: 120em; top: 6em;}
}