$accent: #49f;
$black: #000;
$black-trans-60: rgba(0, 0, 0, .6);
$black-trans-20: rgba(0, 0, 0, .2);
$blue: #36AFAF;
$blue-light: #83BBD5;
$facebook: #4267B2;
$gray: #6F6F6F;
$green: #52A552;
$magenta: #8B52C4;
$mws-blue: #96e6ff;
$mws-orange: #ffd298;
$pink: #E3A5CE;
$orange: #ffc700;
$orange-trans-60: rgba(254, 214, 54, .6);
$primary: #A7D9E8;
$purple: #6469D6;
$red: #FC3629;
$red-trans-30: rgba($red, .3);
$red-trans-60: rgba($red, .6);
$text: #999;
$text-blue: #7ac2d6;
$text-light: #ccc;
$white: #fff;
$white-trans-60: rgba(255, 255, 255, .6);
$white-trans-20: rgba(255, 255, 255, .2);
$yellow: #F8DA58;
$yellow-light: #F1FFB9;

$base-light: #FFF9F3;