// Styles applied to the whole site

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $white;
  //cursor: url('/images/diamondcursor.png'), auto;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $font-size-html;
}

.back-to-top {
  bottom: .61em;
  font-size: 1.15rem;
  padding: .3em;
  opacity: 0;
  position: fixed;
  right: 8.3%;
  text-align: center;
  @include transitionTwo(color, opacity);
  z-index: $btt-z;

  &:hover {
    color: $orange;
  }

  &.active {
    opacity: 1;
  }
}

.btn {
  background: $white;
  @include box-shadow();
  color: $text;
  //cursor: url('/images/diamondcursor_lg.png'), auto;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1em auto;
  padding: .5em;
  text-align: center;
  transition: all .2s ease;
  
  p {
    font-weight: bold;
  }

  &:hover,
  &.active {
    box-shadow: 4px 4px 10px #aaa;
  }
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}


.main {
  background: $blue;
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - (#{$page-border-width} * 2));
  margin: 100px 0;
  overflow-y: auto;
  width: calc(100% + #{$scroll-bar-width});
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; // Smooth scrolling when clicking links
  scroll-padding-bottom: 100px;
  
  section {
    background: $black;
    display: flex;
    flex-shrink: 0;
    min-height: calc(100vh - (#{$page-border-width} * 2));
    padding: 50px 0;
    width: 100%;
    -webkit-overflow-scrolling: touch; // Mobile Scroll
    scroll-snap-align: start; 
    
    .section-content {
      margin: auto;
      max-width: 90%;
      position: relative;
    }
  }
}

.move-with-mouse {
  transition: 1s all ease;
}

.no-scroll {
  overflow: hidden;
}

.page-border {
  background: $white;
  height: calc(100vh - (#{$page-border-width} * 2));
  position: fixed;
  top: $page-border-width;
  width: $page-border-width;
  z-index: $page-cover;
  
  &.left {
    left: 0;
  }
  
  &.right {
    right: 0;
  }
}

.relative {
  position: relative;
}

.stretch-word {
  letter-spacing: 3px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.view {
  margin: auto;
  width: calc(100vw - (#{$page-border-width} * 2));
}

@media screen and (max-width: $md) {
  .main {
    height: calc(100vh - 140px);
    margin: 70px 0;
    width: 100%;
    
    section {
      min-height: calc(100vh - 140px);
      width: 100%;
    }
  }
  
  .page-border {
    width: 0;
  }
  
  .view {
    width: 100%;
  }
}