a {
  text-decoration: none;
  @include transition(color);
  
  &.text-link {
    color: $text;
    
    &:hover {
      color: $yellow;
    }
  }
}

li,
p {
  font-size: $font-size-p;
}

a,
h1,
h2,
h3,
li,
p {
  color: $text;
  font-weight: normal;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
  font-weight: bold;
}

hr {
  border: none;
  background: rgba($white, .5);
  height: 1px;
  margin: 40px 0; 
  max-width: 100%;
  width: 500px;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

.title {
  letter-spacing: 3px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.sub-title {
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 20px;
}