.footer {
  align-items: center;
  background: $base-light;
  bottom: 0;
  display: flex;
  height: #{$page-border-width};
  justify-content: space-between;
  left: 0;
  padding: 0 #{$page-border-width};
  position: fixed;
  width: 100%;
  z-index: $page-cover;
  
  .footer-right {
    text-align: right;
  }
  
  .legal {
    margin-top: 12px;
    
    p {
      display: inline-block;
      margin-left: 20px;
      vertical-align: baseline;
    }
    
    .text-link {
      &:hover {
        color: $black;
      }
    }
  }
  
  .nav-link {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 2rem;
    transition: .3s color ease;
    vertical-align: middle;
    
    &.social-expand {
      display: none;
    }
    
    &:hover {
      color: rgba($black, .8);
    }
    
    &.active {
      color: $black;
    }
  }
  
  .social {
    &:hover {
      > * {
        opacity: .5;
      }
    }
    
    > * {
      display: inline-block;
      margin-left: 8px;
      transition: .2s opacity ease;
      vertical-align: middle;
      
      &:hover {
        opacity: 1;
      }
    }
    
    img {
      height: 24px;
      width: auto;
    }
  }
  
  @media screen and (max-width: $md) {
    height: 71px;
    margin: auto;
    padding: 0 20px;
    width: 100%;
    
    .nav-link {
      font-size: 1.3rem;
      margin-right: 1.5rem;
    }
  }
  
  @media screen and (max-width: 700px) {
    p {
      font-size: 1.2rem;
    }
    
    .nav-link {
      font-size: 1.2rem;
      margin-right: 1.2rem;
    }
  }
  
  @media screen and (max-width: $sm) {
    display: block;
    padding: 10px 20px;
    z-index: 2;
    
    .footer-right {
      margin-top: 0;
      text-align: left;
    }
    
    .legal {
      p {
        margin-left: 0;
        margin-right: 12px;
      }
    }
    
    .nav-link {
      &.social-expand {
        display: inline-block;
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
    
    .social {
      background: $base-light;
      left: 0;
      opacity: 0;
      padding: 10px 0;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: -44px;
      transition: .3s opacity ease;
      width: 100%;
      z-index: 1;
    
      > * {
        margin-left: unset;
        margin: 0 8px;
      }
      
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  
  @media screen and (max-width: $xs) {
    padding: 5px 20px;
    
    .legal {
      margin-top: 3px;
    }
    
    .nav-link {
      margin-bottom: 1px;
      margin-top: 1px;
    }
    
    .social {
      > * {
        margin: 0 5px;
      }
    }
  }
}

.mws-credit {
  bottom: .75em;
  display: none;
  left: 8.3%;
  position: absolute;
  text-align: left;

  .blue,
  .orange {
    @include transition(color);
  }

  a {
    &:hover {
      .blue {
        color: $mws-blue;
      }

      .orange {
        color: $mws-orange;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .mws-credit {
    padding-top: .5em;
    position: static;
  }
}