.footer {
  align-items: center;
  background: $white;
  bottom: 0;
  display: flex;
  height: #{$page-border-width};
  justify-content: space-between;
  left: 0;
  padding: 0 #{$page-border-width};
  position: fixed;
  width: 100%;
  z-index: $page-cover;
  
  .nav-link {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 2rem;
    transition: .3s color ease;
    vertical-align: middle;
    
    &:hover {
      color: rgba($black, .8);
    }
    
    &.active {
      color: $black;
    }
  }
}

.mws-credit {
  bottom: .75em;
  display: none;
  left: 8.3%;
  position: absolute;
  text-align: left;

  .blue,
  .orange {
    @include transition(color);
  }

  a {
    &:hover {
      .blue {
        color: $mws-blue;
      }

      .orange {
        color: $mws-orange;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .footer {
    margin: auto;
    padding: 0 20px;
    width: 100%;
    
    p {
      font-size: 1.1rem;
    }
    
    .nav-link {
      font-size: 1.1rem;
      margin-right: 1.5rem;
    }
  }
}

@media screen and (max-width: $sm) {
  .mws-credit {
    padding-top: .5em;
    position: static;
  }
}