.header {
    background: $base-light;
    display: flex;
    height: #{$page-border-width};
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: $page-cover;
    
    .logo {
        height: 100%;
        margin: auto;
        
        a {
            color: $red;
        }
        
        img {
            height: 100%;
            width: auto;
        }
    }
    
    @media screen and (max-width: $md) {
        height: 70px;
        width: 100%;
    }
}

